#{extends 'main.html' /}
#{set title:'Mes annonces' /}

<div>
	
	<h1>&{'pages.title.myAnnouncements'}</h1>
	
	<a class="submit" href="@{Announcements.add()}" >&{'announcements.add'}</a>
	
	#{if nextAnnouncements.size() > 0}
		<h2>&{'pages.title.myAnnouncements.next'}</h2>
		<table class="titem">
			<thead>
				<th>&{'announcements.from'}</th>
				<th>&{'announcements.to'}</th>
				<th>&{'announcements.nbPlaces'}</th>
				<th class="c">&{'announcements.startDate'}</th>
				<th class="c">&{'general.action'}</th>
			</thead>
			<tbody>
				#{list items:nextAnnouncements, as:'announcement'}
					#{displayAnnouncement announcement:announcement, as:'teaserTable' /}
				#{/list}
			</tbody>
		</table>
	#{/if}
	
	#{if previousAnnouncements.size() > 0}
		<h2>&{'pages.title.myAnnouncements.previous'}</h2>
		<table class="titem">
			<thead>
				<th>&{'announcements.from'}</th>
				<th>&{'announcements.to'}</th>
				<th>&{'announcements.nbPlaces'}</th>
				<th class="c">&{'announcements.startDate'}</th>
				<th class="c">&{'general.action'}</th>
			</thead>
			<tbody>
				#{list items:previousAnnouncements, as:'announcement'}
					#{displayAnnouncement announcement:announcement, as:'teaserTable' /}
				#{/list}
			</tbody>
		</table>
	#{/if}
</div>