#{extends 'main.html' /}
#{set title:'Mes annonces' /}

<div>
	
	<h1>&{'pages.title.myAnnouncements'}</h1>
	
	<a class="submit" href="@{Announcements.add()}" >&{'announcements.add'}</a>
	
	<table class="titem">
		<thead>
			<th>From</th>
			<th>To</th>
			<th>Places</th>
			<th class="c">Date</th>
			<th class="c">Options</th>
		</thead>
		<tbody>
			#{list items:announcements, as:'announcement'}
				#{displayAnnouncement announcement:announcement, as:'teaser' /}
			#{/list}
		</tbody>
	</table>
	
</div>