#{extends 'main.html' /}
#{set title:'Mes annonces' /}

<div>
	
	<h1>&{'pages.title.myAnnouncements'}</h1>
	
	<a class="submit" href="@{Announcements.add()}" >&{'announcements.add'}</a>
	
	#{list items:announcements, as:'announcement'}
		<div class="item">
			<p>${announcement.trip.from.name} -> ${announcement.trip.to.name} (${announcement.kilometers}km)</p>
			
			<ul>
			#{list items:announcement.trip.cities, as:'city'}
				<li>${city.name}</li>
			#{/list}
			</ul>
			
			<p>${announcement.vehicle.model.make} ${announcement.vehicle.model.model} 
			(${announcement.freePlaces}/${announcement.vehicle.model.nbPlaces})</p>
		</div>
	#{/list}
	
	
</div>