#{extends 'main.html' /}
#{set title:'Chercher une annonce' /}

<div>
	
	<h1>&{'pages.title.searchAnnouncements'}</h1>
	
	<form action="@{Announcements.search()}" method="GET">
		<p>
			<label for="searchFrom" >&{'announcements.from'}</label>
			<select name="searchFrom">
				#{list items:cities, as:'city'}
						<option value="${city.name}" #{if searchFrom == city.name} selected="selected" #{/if} >
							${city.name}
						</option>
				#{/list}
			</select>
		</p>
		<p>
			<label for="searchTo" >&{'announcements.to'}</label>
			<select name="searchTo">
				#{list items:cities, as:'city'}
						<option value="${city.name}" #{if searchTo == city.name} selected="selected" #{/if} >
							${city.name}
						</option>
				#{/list}
			</select>
		</p>
		<p>
			<label for="startDate">&{'announcements.startDate'}</label>
			<input id="startDate" name="startDate" value="${startDate}" type="text" class="hasDatepicker" size="10">
		</p>
		<p>
			#{if searchFrom != null || searchTo != null || searchDateMin != null || searchDateMax != null}
				<a class="submit" href="@{Announcements.search()}" >&{'announcements.search.init'}</a>
				&nbsp;|&nbsp;
			#{/if}
			<input type="submit" value="&{'pages.title.findAnnouncements'}" />
		</p>
	</form>
	
	#{list items:announcements, as:'announcement'}
		<div class="item">
			#{displayAnnouncement announcement:announcement, me:user, as:'searchResult' /}
		</div>
	#{/list}
</div>


<script type="text/javascript" charset="utf-8">

	$(function() {
		$("#hasDatepicker").datetimepicker({
			dateFormat:'dd/mm/yy', 
			timeFormat:'hh:mm:ss',
			showAnim:'fadeIn',
			dayNamesMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
			monthNames: ['Janvier','F&eacute;vrier','Mars','Avril','Mai','Juin','Juillet','Aout','Septembre','Octobre','Novembre','D&eacute;cembre'],
			autoSize: true,
			minDate: '0',
			showTime: true,
			duration: '',
			constrainInput: true
		});

	});
</script>