#{extends 'main.html' /}
#{set title:'Mes notifications' /}

<div id="profile">
	
	<h1>&{'pages.title.pendings'}</h1>
	
	#{if applicants.size() > 0}	
		#{list items:applicants, as:'applicant'}
			<div class="item">
				<p>
					<a href="@{Members.seeProfile(applicant.id)}">${applicant.firstname} ${applicant.lastname}</a> &{'pendings.invitation'}
				</p>
				
				
				#{form @accept()}
					<input type="hidden" name="applicantId" value="${applicant.id}" />
					<input type="submit" value="&{'pendings.invitation.accept'}" />
				#{/form}
				
				#{form @deny()}
					<input type="hidden" name="applicantId" value="${applicant.id}" />
					<input type="submit" class="pending" value="&{'pendings.invitation.deny'}" />
				#{/form}
			</div>
		#{/list}
	#{/if}
	#{else}
		&{'pendings.noPendings'}
	#{/else}
	
</div>