#{extends 'main.html' /}
#{set title:'Mes notifications' /}

<div id="profile">
	
	<h1>&{'pages.title.pendings'}</h1>
	
	#{if pendingInvitations.size() > 0}	
		<h2>&{'pages.titles.pendings.friends'}</h2>
		#{list items:pendingInvitations, as:'invitation'}
			<div class="item">
				<p>
					<a href="@{Members.seeProfile(invitation.applicant.id)}">${invitation.applicant.firstname} ${invitation.applicant.lastname}</a> &{'pendings.invitation'}
				</p>
				
				
				#{form @acceptFriend()}
					<input type="hidden" name="applicantId" value="${invitation.applicant.id}" />
					<input type="submit" value="&{'pendings.invitation.accept'}" />
				#{/form}
				
				#{form @denyFriend()}
					<input type="hidden" name="applicantId" value="${invitation.applicant.id}" />
					<input type="submit" class="pending" value="&{'pendings.invitation.deny'}" />
				#{/form}
			</div>
		#{/list}
	#{/if}
	#{if pendingAnnouncements.size() > 0}
		<h2>&{'pages.titles.pendings.announcements'}</h2>
		#{list items:pendingAnnouncements, as:'pendingAnnouncement'}
			<div class="item">
				<p>
					<a href="@{Members.seeProfile(pendingAnnouncement.applicant.id)}">${pendingAnnouncement.applicant.firstname} ${pendingAnnouncement.applicant.lastname}</a> &{'pendings.announcement'}
				</p>
				<p>
					<a href="@{Announcements.see(pendingAnnouncement.Announcement.id)}">
						${pendingAnnouncement.Announcement.startDate} - ${pendingAnnouncement.Announcement.trip.from.name} => ${pendingAnnouncement.Announcement.trip.to.name} 
					</a>
				</p>
				
				
				#{form @acceptAnnouncement()}
					<input type="hidden" name="pendingAnnouncementId" value="${pendingAnnouncement.id}" />
					<input type="submit" value="&{'pendings.invitation.accept'}" />
				#{/form}
				
				#{form @denyAnnouncement()}
					<input type="hidden" name="pendingAnnouncementId" value="${pendingAnnouncement.id}" />
					<input type="submit" class="pending" value="&{'pendings.invitation.deny'}" />
				#{/form}
			</div>
		#{/list}
	#{/if}
	#{else}
		&{'pendings.noPendings'}
	#{/else}
	
</div>