#{extends 'main.html' /}
#{set title:'Mes notifications' /}

<div id="profile">
	
	<h1>&{'pages.title.pendings'}</h1>
	
	#{if pendingInvitations.size() > 0 || pendingAnnouncements.size() > 0 || comingAnnouncements.size() > 0 || pendingsReadOnly.size() > 0}
		#{if pendingInvitations.size() > 0}	
			<h2>&{'pages.titles.pendings.friends'}</h2>
			#{list items:pendingInvitations, as:'invitation'}
				<div class="item">
					<p>
						<a href="@{Members.seeProfile(invitation.applicant.id)}">${invitation.applicant.firstname} ${invitation.applicant.lastname}</a> &{'pendings.invitation'}
					</p>
					
					#{pendingFriend invitation:invitation, as:"pending" /}
									
				</div>
			#{/list}
		#{/if}
		#{if pendingAnnouncements.size() > 0}
			<h2>&{'pages.titles.pendings.announcements'}</h2>
			#{list items:pendingAnnouncements, as:'pendingAnnouncement'}
				<div class="item">
					<p>
						<a href="@{Members.seeProfile(pendingAnnouncement.applicant.id)}">${pendingAnnouncement.applicant.firstname} ${pendingAnnouncement.applicant.lastname}</a> &{'pendings.announcement'}
					</p>
					#{displayAnnouncement announcement:pendingAnnouncement.Announcement, as:'teaser' /}
					
					
					#{form @acceptAnnouncement()}
						<input type="hidden" name="pendingAnnouncementId" value="${pendingAnnouncement.id}" />
						<input type="submit" value="&{'pendings.invitation.accept'}" />
					#{/form}
					
					#{form @denyAnnouncement()}
						<input type="hidden" name="pendingAnnouncementId" value="${pendingAnnouncement.id}" />
						<input type="submit" class="pending" value="&{'pendings.invitation.deny'}" />
					#{/form}
				</div>
			#{/list}
		#{/if}
		#{if comingAnnouncements.size() > 0}
			<h2>&{'pages.titles.pendings.comingAnnouncements'}</h2>
			#{list items:comingAnnouncements, as:'comingAnnouncement'}
				<div class="item">
					<p>
						&{'pendings.flash.announcement.participe'} #{memberLink member:comingAnnouncement.member /}
					</p>
					#{displayAnnouncement announcement:comingAnnouncement, as:"teaser" /}
					#{if pendingsReadOk.contains(comingAnnouncement)}
						#{form @pendingReadOnlyOk()}
							<input type="hidden" name="announcementId" value="${comingAnnouncement.id}" />
							<input type="submit" class="pending" value="&{'pendings.readOnly.ok'}" />
						#{/form}
					#{/if}
				</div>
			#{/list}
		#{/if}
		#{if pendingsReadOnly.size() > 0}
			<h2>&{'pages.titles.pendings.alertAnnouncements'}</h2>
			#{list items:pendingsReadOnly, as:'pending'}
				<div class="item">
					#{if pending.type == "desistParticipation"}
						<p>
							#{memberLink member:pending.applicant /} &{'pendings.readOnly.announcement.notParticipe'}
						</p>
						#{displayAnnouncement announcement:pending.announcement, as:"teaser" /}
						#{form @pendingReadOnlyOkDelete()}
							<input type="hidden" name="pendingReadOnlyId" value="${pending.id}" />
							<input type="submit" class="pending" value="&{'pendings.readOnly.ok'}" />
						#{/form}
					#{/if}
					#{elseif pending.type == "deleteAnnouncement"}
						<p>
							#{memberLink member:pending.applicant /} &{'pendings.readOnly.announcement.deleteAnnouncement'}
						</p>
						<p>
							${pending.description}
						</p>
						#{form @pendingReadOnlyOkDelete()}
							<input type="hidden" name="pendingReadOnlyId" value="${pending.id}" />
							<input type="submit" class="pending" value="&{'pendings.readOnly.ok'}" />
						#{/form}
					#{/elseif}
				</div>
			#{/list}
		#{/if}
	#{/if}
	#{else}
		&{'pendings.noPendings'}
	#{/else}
	
</div>