#{if _as == 'full'}
	<p>
		<label for='announcement.member'>&{'announcements.propose.short'}</label>
		<span name="announcement.member">
			<a href="@{Members.seeProfile(_announcement.member.id)}">
				${_announcement.member.firstname} ${_announcement.member.lastname}
			</a>
		</span>
	</p>
	<p>
		<label for='announcement.startDate'>&{'announcements.startDate'}</label>
		<span name="announcement.startDate">${_announcement.startDate.format('dd / MM / yyyy')}</span>
	</p>
	<p>
		<label for='announcement.startHour'>&{'announcements.startHour'}</label>
		<span name="announcement.startHour">${_announcement.startDate.format('HH : mm')}</span>
	</p>

	<p>
		<label>&{'announcements.steps'}</label>
		<span>&nbsp;</span>
	</p>
	
	<ul>
		<li>${_announcement.trip.from.name} (<strong>&{'announcements.startCity'}</strong>)</li>
		#{list items:_announcement.trip.cities, as:'city'}
			#{if city != _announcement.trip.from && city != _announcement.trip.to}
				<li>
					${city.name}
					#{if _announcement.member != _me && !_passengers.contains(_me)}
						<a href="@{Announcements.applyCustom(_announcement.id, city.id)}">(Rejoindre ici)</a>
					#{/if}
				</li>
			#{/if}
		#{/list}
		<li>${_announcement.trip.to.name} (<strong>&{'announcements.endCity'}</strong>)</li>
	</ul>
	
	<p>
		<label for='announcement.length'>&{'announcements.length'}</label>
		<span name="announcement.length">${_announcement.kilometers} kms</span>
	</p>
	<p>
		<label for='announcement.vehicle'>&{'announcements.vehicle'}</label>
		<span name="announcement.vehicle">${_announcement.vehicle.model.make} ${_announcement.vehicle.model.model} ${_announcement.vehicle.model.nbPlaces} &{'vehicle.places'}</span>
	</p>
	<p>
		<label for='announcement.nbPlaces'>&{'announcements.nbPlaces'}</label>
		<span name="announcement.nbPlaces">
			${_announcement.freePlaces}
		</span>
	</p>
	<p>
		<label for='announcement.cost.byPassenger'>&{'announcements.costByPassenger'}</label>
		<span name="announcement.cost.byPassenger">
			${_announcement.costByPassenger} &{'general.money'}
		</span>
	</p>
	<p>
		<label for='announcement.map'>&{'announcements.map'}</label>
		<span name="announcement.map">
			<a class="submit" href="@{Announcements.seeMap(_announcement.id)}">&{'announcements.action.see.map'}</a>
		</span>
	</p>
	<p></p>
	#{if _passengers != null && _passengers.contains(_me)}
		<p>
			&{'announcements.member.willParticipate'}
		</p>
		<p>
			#{form @Announcements.desist()}
				<input type="hidden" name="announcementId" value="${_announcement.id}" />
				<input class="pending" type="submit" value="&{'announcements.member.desist'}" />
			#{/form}
		</p>
	#{/if}
	#{elseif _announcement.member == _me}
		
			#{form @Announcements.delete()}
				<input type="hidden" name="announcementId" value="${_announcement.id}" />
				<input class="pending" type="submit" value="&{'announcements.delete'}" />
			#{/form}
	#{/elseif}
	#{elseif _announcement.member != _me}
		#{if _announcement.freePlaces > 0}
			#{form @Announcements.apply()}
				<a class="submit" href="@{Announcements.applyCustom(_announcement.id, _announcement.trip.from.id)}">&{'announcements.apply'}</a>
			#{/form}
		#{/if}
		#{else}
			&{'announcements.full'}
		#{/else}
	#{/elseif}
	
#{/if}
#{elseif _as == 'teaserTable'}
		<tr>
			<td>${_announcement.trip.from.name}</td>
			<td>${_announcement.trip.to.name}</td>
			<td>
				#{if _announcement.freePlaces > 0}
					${_announcement.freePlaces} 
				#{/if}
				#{else}
					&{'announcements.full.short'}
				#{/else}
			</td>
			<td class="c">${_announcement.startDate.format('dd / MM / yyyy - HH:mm')}</td>
			<td class="c">
				#{if _me != null && _announcement.passengers.contains(_me)}
						&{'announcements.member.willParticipate'}
					#{/if}
				<a class="submit" href="@{Announcements.see(_announcement.id)}">&{'announcements.action.see'}</a>
			</td>
		</tr>
#{/elseif}
#{elseif _as == 'teaser' || _as == 'searchResult'}
	#{if _as == 'searchResult'}
		<p>
			 &{'announcements.propose'}
			<a href="@{Members.seeProfile(_announcement.member.id)}">
				${_announcement.member.firstname} ${_announcement.member.lastname}
			</a>
			:
		</p>
	#{/if}
	<p>
		<a href="@{Announcements.see(_announcement.id)}">
			${_announcement.startDate.format('dd / MM / yyyy - HH:mm')} - ${_announcement.trip.from.name} => ${_announcement.trip.to.name}
		</a>
		(
		#{if _announcement.freePlaces > 0}
			&{'announcements.nbPlaces'} : ${_announcement.freePlaces} 
		#{/if}
		#{else}
			&{'announcements.full.short'}
		#{/else}
		)
	</p>
	<p>
		#{if _me != null && _participateAnnouncements != null && _participateAnnouncements.contains(_announcement)}
			&{'announcements.member.willParticipate'}
		#{/if}
	</p>
#{/elseif}