#{extends 'main.html' /}
#{set title:'Ajouter un vehicule' /}

<div>
	
	<h1>&{'pages.title.addVehicle'}</h1>
	
	#{form @addPost()}
		#{DisplayForModel model:model, ignore:'model' /}
		
		<p>
			<label>&{'vehicle.model'}</label>
			<select name="vehicleModel.id">
				#{list items:vehicleModels, as:'vehicleModel'}
						<option value="${vehicleModel.id}">
							${vehicleModel.make} ${vehicleModel.model}
						</option>
				#{/list}
			</select>
		</p>
		<p id="signup-field">
			<input type="submit" id="signup" value="&{'vehicles.add.submit'}" />
		</p>
	#{/form}
</div>