#{extends 'main.html' /}
#{set title:'Ajouter un vehicule' /}

<div>
	
	<h1>&{'pages.title.addVehicle'}</h1>
	
	#{form @addPost()}
		#{DisplayForModel model:model, ignore:'model' /}
		
		<p>
			<label>&{'vehicle.model'}</label>
			<select name="vehicleModel.id">
				#{list items:vehicleModels, as:'vehicleModel'}
						<option value="${vehicleModel.id}">
							${vehicleModel.make} ${vehicleModel.model}
						</option>
				#{/list}
			</select>
		</p>
		<p id="signup-field">
			<input type="submit" id="signup" value="&{'vehicles.add.submit'}" />
		</p>
	#{/form}
</div>

<script type="text/javascript" charset="utf-8">

	$(function() {
		$("#vehicletechControlDate").datepicker({
			dateFormat:'yy-mm-dd', 
			showAnim:'fadeIn',
			dayNamesMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
			monthNames: ['Janvier','F&eacute;vrier','Mars','Avril','Mai','Juin','Juillet','Aout','Septembre','Octobre','Novembre','D&eacute;cembre'],
			autoSize: true,
			minDate: '0',
			showTime: false,
			constrainInput: true
		});

	});
</script>