#{extends 'main.html' /}
#{set title:'Vehicle' /}


<div id="edit-vehicle">
	<h1>&{'pages.title.vehicle'}</h1> 
	
	#{form @editPost()}
		<input type="hidden" name="vehicle.id" value="${model.id}" />
		
		#{DisplayForModel model:model /}
		
		<p>
			<label>&{'vehicle.model'}</label>
			<select name="vehicleModel.id">
				#{list items:vehicleModels, as:'vehicleModel'}
						<option value="${vehicleModel.id}" 
						#{if vehicleModel.id == vehicle.model.id} selected="selected" #{/if} >
							${vehicleModel.make} ${vehicleModel.model}
						</option>
				#{/list}
			</select>
		</p>

		<p id="signup-field">
			<input type="submit" id="signup" value="&{'vehicles.edit.submit'}" />
		</p>
	#{/form}
</div>

<script type="text/javascript" charset="utf-8">

	$(function() {
		$("#vehicletechControlDate").datepicker({
			dateFormat:'yy-mm-dd', 
			showAnim:'fadeIn',
			dayNamesMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
			monthNames: ['Janvier','F&eacute;vrier','Mars','Avril','Mai','Juin','Juillet','Aout','Septembre','Octobre','Novembre','D&eacute;cembre'],
			autoSize: true,
			minDate: '-2y',
			maxDate: '0',
			showTime: false,
			constrainInput: true
		});

	});
</script>