#{extends 'main.html' /}
#{set title:'Mes vehicules' /}

<div id="profile">
	
	<h1>&{'pages.title.myVehicles'}</h1>
	
	<a class="submit" href="@{Vehicles.add()}" >&{'vehicle.addVehicle'}</a>
	
	#{list items:vehicles, as:'vehicle'}
		<div class="item">
			<p>
				${vehicle.model.make} ${vehicle.model.model} - ${vehicle.registration}
			</p>
			<a class="submit" href="@{Vehicles.myVehicle(vehicle.id)}">&{'vehicle.modify'}</a>
			
			#{form @deleteVehicle()}
				<input type="hidden" name="vehicleId" value="${vehicle.id}" />
				<input type="submit" value="&{'general.delete'}" />
			#{/form}
		</div>
	#{/list}
	
	
</div>