<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
	    <div id="header">
		    <div id="logo">
		        &{'application.name'}
		    </div>
		    <ul id="tools">
		    	#{if security == null}
		    	<li><a href="/signup">&{'members.signup.submit'}</a></li>
		    	#{/if}
		    	
		        <li>
		        	#{if security != null}
						Bonjour ${user.firstname} ! 
						<a href="@{Secure.logout()}">&{'secure.signout'}</a>
					#{/if}
					<!-- Sinon on propose de se logger -->
					#{else}
						<a href="@{Secure.login()}">&{'secure.signin'}</a>
					#{/else}
		        </li>
		        
		    </ul>
		    <div id="title">
		    	<ul id="adminMenu">
		    		<li>
		    			<a href="@{Members.profile()}">Mon compte</a>
		    		</li>
		    	</ul>
		    	<h2>&{'application.slogan'}</h2>
		    </div>
		</div>
        <div id="main">
        	#{if flash.error}
				<p class="error">
					&{flash.error}
				</p>
			#{/if}
			
			#{if flash.success}
				<p class="success">
					&{flash.success}
				</p>
			#{/if}
		
            #{doLayout /} 
        </div>
    </body>
    <p id="footer">
    	&{'application.copyright'}
	</p>
</html>
