#{extends 'main.html' /}
#{set title:'Profile' /}

<div id="profile">
	
	<h1>&{'pages.title.findFriends'}</h1>
	
	#{form @findFriends()}
		<input type="text" name="s" placeholder="&{'members.findFriends.input'}" value="${s}"/>
		<input type="submit" value="&{'members.findFriends.inputGo'}"/>
	#{/form}
	
	
	#{list items:members, as:'member'}
		<div class="item">
			<p>
				${member.firstname} ${member.lastname}
			</p>
			<p>
			<a class="submit" href="@{Members.seeProfile(member.id)}" >&{'member.profile.see'}</a>
			<a class="submit" href="@{Members.inviteFriend(member.id)}" >&{'member.friends.add'}</a>
			</p>
		</div>
		
	#{/list}
	
	#{if members.size() == 0}
		<p class="errorMsg">&{'members.findFriends.nothingFound'}</p>
	#{/if}
	
</div>