#{extends 'main.html' /}
#{set title:'Trouver des amis' /}

<div id="profile">
	<h1>&{'pages.title.findFriends'}</h1>
	
	#{form @findFriends()}
		<input type="text" name="s" placeholder="&{'members.findFriends.input'}" value="${s}"/>
		<input type="submit" value="&{'members.findFriends.inputGo'}"/>
	#{/form}
	
	<table class="titem">
		<thead>
			<th>&{'secure.lastname'} &{'secure.firstname'} </th>
			<th class="c">Options</th>
		</thead>
		<tbody>
	#{list members, as:'member'}
		#{ifnot member.id == me.id}
		<tr>
			<td>
				<a href="@{Members.seeProfile(member.id)}">${member.firstname} ${member.lastname}</a>
			</td>
			<td class="c">
				#{pendingFriend me:me, member:member, applicants:applicants, pendings:pendings, as:"full" /}
			</td>
		</tr>
		#{/ifnot}
	#{/list}
		</tbody>
	</table>

	#{if members.size() == 0}
		<p class="errorMsg">&{'members.findFriends.nothingFound'}</p>
	#{/if}
</div>