#{extends 'main.html' /}
#{set title:'Profile' /}


<div id="edit-profile">
	<h1>&{'pages.title.seeprofile'}</h1>
	<div class="item">
		#{DisplayForModel model:member, editable:false /}
		
		#{ifnot me.id == member.id}
			
			#{pendingFriend me:me, member:member, applicants:applicants, pendings:pendings, as:"full" /}
			
		#{/ifnot}
	</div>
	<h1>&{'pages.title.seeprofile.vehicles'}</h1>
		#{if member.vehicles.size() > 0}
			#{list items:member.vehicles, as:'vehicle'}
				<div class="item">
					${vehicle.model.make} ${vehicle.model.model} ${vehicle.model.nbPlaces} places
				</div>
			#{/list}
		#{/if}
		#{else}
			<h2>&{'vehicles.noVehicle'}</h2>
		#{/else}
</div>